
<div class="container">
  <div class="fluid">
    <section class="features" id="features">
      <h1 class="heading">hệ hỗ trợ định giá <span>bảo hiểm y tế</span></h1>
      <div class="box-container">
          <div class="box">
              <h3>hệ hỗ trợ định giá bảo hiểm y tế</h3>
              <div class="content">
                <label for="file-upload" class="btn" >
                  <i class="fa fa-cloud-upload"></i> chọn file
                </label>
              <input id="file-upload" type="file" #file (change)="uploadFiles($event)"/>
              <img src="assets/images/tbhyt.jpeg" alt="">
              </div>
              
          </div>

          <div class="box" *ngIf="isShowResult">
              <h3>hệ hỗ trợ định giá bảo hiểm y tế</h3>
              <table class="table table-hover caption-top">
                <caption>Bảng dữ liệu</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">expenses</th>
                    <th scope="col">guess</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>13809.12</td>
                    <td>14754.507595</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>1246068</td>
                    <td>13295.132996</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>43315.45</td>
                    <td>433487.303785</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>22678.29</td>
                    <td>20026.335215</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>9583.75</td>
                    <td>10381.869497</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <!-- <div>
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div> -->
      </div>
  </section>
  </div>
</div>